*,a img{margin:0;padding:0}*,::after,::before{box-sizing:border-box}*{font:inherit}ol[role=list],ul[role=list]{list-style:none}html:focus-within{scroll-behavior:smooth}body,html{height:100%}body{text-rendering:optimizeSpeed;line-height:1.5;-webkit-text-size-adjust:100%}a:not([class]){text-decoration-skip-ink:auto}img,picture,svg{max-width:100%;display:block;border-style:none}a img{border:0;outline:0;vertical-align:middle}::placeholder{color:unset}[aria-controls],a,button{cursor:pointer}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit;padding:0;font:inherit}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}[aria-busy=true]{cursor:progress}[aria-disabled=true]{cursor:default}

*{
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*===========================================================================
// FONTS 
=============================================================================*/
/* syne-mono-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Syne Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/syne-mono-v15-latin-regular.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rock-salt-regular - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Rock Salt';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/rock-salt-v22-latin-regular.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*===========================================================================
// VARIABLES 
=============================================================================*/
:root {
	--dark: #331b04;
	--light: #dbc9a0;
	font-size: var(--width-based-font);
}

/*===========================================================================
// ELEMENTS 
=============================================================================*/
.btn{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1437 589'%3E%3Cpath fill='%231e0f00bb' d='m1423 565-102 8-37-8-117 8-74 10-78-5-71-16-127 16-158 5-16-21-20 27-119-16h-90l-108-5-117 5h-88l-88-9 7-67-7-69 7-67-7-70-8-38-4-113 23 5-13-16 2-17 20-13-18-18 2-30-4-34 93-3 83 3 97-3 70-5 98 2 65 5 124 2 104-9 28-9 11 18 8-18 84 15 66-10 140 10 81 3 59-12 124 5 75 7 6 69-11 85 11 66 8 100-5 13h-12l-11-6 4 19 16 17-6 115v69Z'/%3E%3C/svg%3E");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: var(--light);
    font-weight: 600;
}
button:disabled {
	opacity: 0.5;
	cursor: default;
}

.btn-close{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 729 661'%3E%3Cpath fill='%23331b04' d='m366 530 10 15c-2 2-3 5-6 6-5 3-10 4-16 4-12-1-24-2-37-1l-33-3c-13 0-25-5-35-12l-31-25-27-21a99 99 0 0 1-35-44 154 154 0 0 1-16-37c-6-11-13-21-18-32-4-11-9-22-16-32l2-32 1-33c0-16 2-32 7-47l20-61c1-5 4-10 7-15 9-10 16-21 22-33 20-16 41-30 63-41l26-4a324 324 0 0 1 96-13h10a802 802 0 0 1 132 23l16-5a63 63 0 0 1 58 9l4 5c2 15-18 20-16 36 4 8 9 15 16 21 10 9 18 20 23 33l12 24c15 28 23 59 23 91v40a170 170 0 0 1-23 80c-12 18-26 34-43 48-7 5-14 11-20 18-14 12-29 24-46 33-16 8-33 14-51 16-3 0-4-1-10-8 2-2 3-6 6-7l31-14c21-10 41-23 58-39 12-16 25-32 39-47 12-15 19-33 23-51v-7l-3-3-9-2c-26-2-52-1-77 3h-24c-11-1-23 0-34 2-6 4-11 10-14 17-19 36-36 73-53 110-5 11-8 23-12 35Zm195-189 3 5c2 1 4 0 5-2l-3-2-6-1-10-8c-23-14-47-25-72-35-10 6-12 16-16 25a8 8 0 0 0 5 10c31 7 62 10 94 8Zm-61-169-12 4-74 47c1 3 0 7 2 9 9 8 19 15 30 20 12-7 14-9 18-17 7-13 15-27 24-39 6-7 10-15 12-24 2-1 3-2 1-2l-1 2ZM283 371c-13-3-27-4-41-3-18 0-36-1-53-5l-30-1a10 10 0 0 0-10 12c2 21 9 41 20 60 4 6 7 12 9 19 24 29 53 54 83 75a75 75 0 0 0 59 4v-6c-7-17-10-35-10-53-1-20-4-40-9-60-3-15-9-29-18-42Zm200-103a20 20 0 0 0 13 13c14 6 28 13 41 22a368 368 0 0 1 47 26h7l2-2c3-12 2-25-1-37-9-40-27-79-53-111-2-2-6-2-9-4-17 26-26 54-40 79l-7 14ZM288 121l4 9c16 18 34 35 53 51a19 19 0 0 0 22 2l3-1 75-51c2-2 2-6 4-10-21-7-44-11-67-11l-53 1c-14 0-28 3-41 10Zm-79 44c-13 8-24 20-32 33-11 18-20 38-26 58-3 12-4 25-2 37 0 2 5 6 7 5l13-4 67-38a15 15 0 0 0 6-15l-1-7-24-59-8-10Zm165 82c-36 15-39 16-52 29 2 18 9 35 19 50 21 3 42 3 63 0 14-11 24-27 31-44a14 14 0 0 0-9-10l-32-18-20-7Zm-109 79c5-13 5-15-7-24-15 5-29 11-42 18l-1 3c12 5 12 5 50 3Zm117 47c-6-8-14-7-21-7-4 0-8 5-8 9 0 10 3 19 8 28l6 2 4-5 11-27Zm-80-156 8-2a8 8 0 0 0 2-14l-14-9a4 4 0 0 0-6 1l-1 3a28 28 0 0 0 11 21ZM63 341l-3 30c-2 8-5 15-10 22a25 25 0 0 1-40 0c-7-8-10-18-10-28l3-21a40 40 0 0 1 27-21 21 21 0 0 1 19 4l14 14ZM182 52l1-8c4-10 6-19 8-29a21 21 0 0 1 20-15 39 39 0 0 1 33 14c4 4 7 8 9 13a11 11 0 0 1 0 10c-3 4-8 8-13 11-14 4-28 11-41 20-7 4-17-3-17-16Zm133 549 16-13a12 12 0 0 1 13 0c5 3 9 7 10 13 4 9 8 18 14 26-10 11-24 10-38 15l-13 13c-8 8-14 8-21-2-2-3-3-5-3-8l7-21-5-15 2-3 18-5ZM568 47c1-10 11-14 13-23 2-10 10-11 18-8a23 23 0 0 1 15 17c1 8 5 15 10 21l2 2c2 6 3 12 1 17a15 15 0 0 1-10 8h-6l-30-15c-6-3-9-9-13-19Zm132 301 12-9c9-6 15-4 16 6l1 11c-1 10-8 13-12 18l-11 11h-7c-15-8-26-21-33-36-1-1 1-4 3-5h10l21 4Z'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
}

.btn-close-light{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 729 661'%3E%3Cpath fill='%23dbc9a0' d='m366 530 10 15c-2 2-3 5-6 6-5 3-10 4-16 4-12-1-24-2-37-1l-33-3c-13 0-25-5-35-12l-31-25-27-21a99 99 0 0 1-35-44 154 154 0 0 1-16-37c-6-11-13-21-18-32-4-11-9-22-16-32l2-32 1-33c0-16 2-32 7-47l20-61c1-5 4-10 7-15 9-10 16-21 22-33 20-16 41-30 63-41l26-4a324 324 0 0 1 96-13h10a802 802 0 0 1 132 23l16-5a63 63 0 0 1 58 9l4 5c2 15-18 20-16 36 4 8 9 15 16 21 10 9 18 20 23 33l12 24c15 28 23 59 23 91v40a170 170 0 0 1-23 80c-12 18-26 34-43 48-7 5-14 11-20 18-14 12-29 24-46 33-16 8-33 14-51 16-3 0-4-1-10-8 2-2 3-6 6-7l31-14c21-10 41-23 58-39 12-16 25-32 39-47 12-15 19-33 23-51v-7l-3-3-9-2c-26-2-52-1-77 3h-24c-11-1-23 0-34 2-6 4-11 10-14 17-19 36-36 73-53 110-5 11-8 23-12 35Zm195-189 3 5c2 1 4 0 5-2l-3-2-6-1-10-8c-23-14-47-25-72-35-10 6-12 16-16 25a8 8 0 0 0 5 10c31 7 62 10 94 8Zm-61-169-12 4-74 47c1 3 0 7 2 9 9 8 19 15 30 20 12-7 14-9 18-17 7-13 15-27 24-39 6-7 10-15 12-24 2-1 3-2 1-2l-1 2ZM283 371c-13-3-27-4-41-3-18 0-36-1-53-5l-30-1a10 10 0 0 0-10 12c2 21 9 41 20 60 4 6 7 12 9 19 24 29 53 54 83 75a75 75 0 0 0 59 4v-6c-7-17-10-35-10-53-1-20-4-40-9-60-3-15-9-29-18-42Zm200-103a20 20 0 0 0 13 13c14 6 28 13 41 22a368 368 0 0 1 47 26h7l2-2c3-12 2-25-1-37-9-40-27-79-53-111-2-2-6-2-9-4-17 26-26 54-40 79l-7 14ZM288 121l4 9c16 18 34 35 53 51a19 19 0 0 0 22 2l3-1 75-51c2-2 2-6 4-10-21-7-44-11-67-11l-53 1c-14 0-28 3-41 10Zm-79 44c-13 8-24 20-32 33-11 18-20 38-26 58-3 12-4 25-2 37 0 2 5 6 7 5l13-4 67-38a15 15 0 0 0 6-15l-1-7-24-59-8-10Zm165 82c-36 15-39 16-52 29 2 18 9 35 19 50 21 3 42 3 63 0 14-11 24-27 31-44a14 14 0 0 0-9-10l-32-18-20-7Zm-109 79c5-13 5-15-7-24-15 5-29 11-42 18l-1 3c12 5 12 5 50 3Zm117 47c-6-8-14-7-21-7-4 0-8 5-8 9 0 10 3 19 8 28l6 2 4-5 11-27Zm-80-156 8-2a8 8 0 0 0 2-14l-14-9a4 4 0 0 0-6 1l-1 3a28 28 0 0 0 11 21ZM63 341l-3 30c-2 8-5 15-10 22a25 25 0 0 1-40 0c-7-8-10-18-10-28l3-21a40 40 0 0 1 27-21 21 21 0 0 1 19 4l14 14ZM182 52l1-8c4-10 6-19 8-29a21 21 0 0 1 20-15 39 39 0 0 1 33 14c4 4 7 8 9 13a11 11 0 0 1 0 10c-3 4-8 8-13 11-14 4-28 11-41 20-7 4-17-3-17-16Zm133 549 16-13a12 12 0 0 1 13 0c5 3 9 7 10 13 4 9 8 18 14 26-10 11-24 10-38 15l-13 13c-8 8-14 8-21-2-2-3-3-5-3-8l7-21-5-15 2-3 18-5ZM568 47c1-10 11-14 13-23 2-10 10-11 18-8a23 23 0 0 1 15 17c1 8 5 15 10 21l2 2c2 6 3 12 1 17a15 15 0 0 1-10 8h-6l-30-15c-6-3-9-9-13-19Zm132 301 12-9c9-6 15-4 16 6l1 11c-1 10-8 13-12 18l-11 11h-7c-15-8-26-21-33-36-1-1 1-4 3-5h10l21 4Z'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
}

.modal {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 10;
	backdrop-filter: blur(3px) brightness(1) saturate(0) invert(1);
    background-color: #000000c7;
}

.modal-content{
    position: relative;
    padding: 6rem 3rem;
    width: 90%;
	filter: drop-shadow(0 0 3.6rem #ffffff52);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 2773 2772' preserveAspectRatio='none'%3E%3Cpath fill='%23111' d='M38 23h170L358 1l361 22 283 28 398-28h464l38 59 22-44 10 13 11-28h816v108l-22 214 22 359-22 328 22 353 12 426-12 410s-5 13-26 18c-20 6-29 15-27 18s12 2 27 17c15 16 26 18 26 18v454h-340l-256 26-425-26h-340l-496-46-185 46H38l17-454-54-236 17-491 20-180 17-301-17-244V668l72-131-55 15 25-48H38V23Z'/%3E%3C/svg%3E");
}

/*===========================================================================
// LAYOUT 
=============================================================================*/
body {
	background-color: black;
	color: var(--light);
	display: grid;
	place-content: center;
	font-family: 'Syne Mono', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	-webkit-user-select: none;
	user-select: none;
}

main {
	/* Aspect ratio */
	--ratio: calc(1 / 2);
	--h: min(calc(100vw / var(--ratio)), 100dvh);
	height: var(--h);
	width: calc(var(--h) * var(--ratio));

	/* Styles */
	background: var(--dark);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

section#crossroad:after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 1;
	pointer-events: none;
	background: url("../assets/img/textures/paper1.jpg");
	mix-blend-mode: multiply;
	background-size: 50rem 95rem;
	background-position: -5rem -5rem;
	opacity: 0.5;
}

#discobar .slot:before {
	border-radius: 100%;
}

main section:not(#start) {
	display: none;
}

/*===========================================================================
// START 
=============================================================================*/
section#start {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
	padding: 1rem;
	background: url("../assets/img/textures/encounter.jpg");
	background-size: cover;
	color: var(--dark);
	width: 100%;
	transition: filter .75s;
}

section#start h1 {
    font-size: 4.3rem;
    text-align: center;
    width: 100%;
    font-family: 'Arslans Blood';
	color: var(--dark);
	
}

section#start div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

section#start button {
    display: inline-flex;
    text-align: center;
    margin-inline: auto;
    padding: 1rem 2rem;
	font-size: 1.5rem;
}

section#start p {
	text-align: center;
	font-size: 1.2rem;
    font-weight: 700;
}


/*===========================================================================
// CROSSROAD 
=============================================================================*/
#crossroad {
	display: flex;
	gap: 0.6rem;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--light);
	background-size: cover !important;
	background-position: center !important;
	transition: filter .75s;
	background: url("../assets/img/textures/encounter.jpg");
	background-size: cover;
}

#crossroad:after {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 85%, rgba(0, 0, 0, 1) 100%);
	/* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%); */
}

img.screen-background {
	position: absolute;
    object-fit: cover;
    max-width: unset;
    inset: 0;
	width: 100%;
    height: 100%;
    filter: saturate(1) brightness(1) contrast(2) blur(0px) sepia(1) opacity(0.5);
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    mix-blend-mode: darken;
}

#crossroad .path {
	width: calc(33% - 1.2rem);
	z-index: 1;
	position: relative;
	transition: .3s;
	filter: drop-shadow(0 0.4rem 0.8rem #00000099);
}

#crossroad .path[data-skippable="false"] [data-skip-path] {
	display: none;
}

.path-content {
	color: var(--dark);
	font-size: 1.3rem;
	transition: opacity 0.2s, scale 1s;
	padding: 1rem;
	width: 100%;
	aspect-ratio: 1 / 1.35;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	min-height: 10rem;
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 2056 3041' preserveAspectRatio='none'%3E%3Cpath fill='%23C8C7B2' d='m32 19 268 29 57-12 24 35 22-43L528 0h280l118 32 349 16 318-48 189 19h250l13 178-13 197-8 23-48 4 22 18-11 31 41 31 14 79 10 186-20 191v562l-21 356 41 394 2 176-46 41 35 3 4 17-1 15 10 13-4 20v96l-20 234v135h-102l-108-21-303 14-76 29-157-34H938l-126 34-205-46-75 24H432l-7-37-37 48-143 11-106-22H32v-187l39-104-10-164v-34l10-25 22-4 15-10-10-17-5-10 8-18-28-21 35-4 28-25-56-22-38-26 5-30-5-82-10-163 13-178-44-148 44-257-32-405 32-239V611L13 378l19-171V19Z'/%3E%3C/svg%3E");
	background: url("../assets/img/textures/encounter.jpg");
    background-size: cover;
	background-position: center;
}

.path-content>div {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	min-height: 3rem;
	margin-block: auto;
}

#crossroad .path .pathTitle {
	font-size: 1.5rem;
	line-height: normal;
	font-weight: 700;
	text-align: center;
	text-wrap: balance;
}

#crossroad .path .pathMobLvl {
	font-size: 1.15rem;
}

#crossroad .path .pathMobLvl span {
	opacity: 0.5;
}

#crossroad .path .main-path-button {
	width: 100%;
	font-size: 1rem;
	padding: 1rem;
	font-weight: 700;
	margin-top: auto;
}

#crossroad .path [data-skip-path] {
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    color: var(--dark);
    background: var(--light);
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 100%;
    border: 0.1rem solid var(--dark);
    line-height: 0;
    z-index: 1;
    font-weight: 700;
}

#crossroad .path [data-skip-path] .btn-close{
	width: 1.7rem;
    height: 1.6rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 522 489'%3E%3Cpath fill='%23331b04' d='m260 463 10 15c-2 2-3 5-6 6-5 3-10 4-16 4-12-1-24-2-37-1l-33-3c-13 0-25-5-35-12l-31-25-27-21a99 99 0 0 1-35-44 154 154 0 0 1-16-37c-6-11-13-21-18-32-4-11-9-22-16-32l2-32 1-33c0-16 2-32 7-47l20-61c1-5 4-10 7-15 9-10 16-21 22-33 20-16 41-30 63-41l26-4a324 324 0 0 1 96-13h10a802 802 0 0 1 132 23l16-5a63 63 0 0 1 58 9l4 5c2 15-18 20-16 36 4 8 9 15 16 21 10 9 18 20 23 33l12 24c15 28 23 59 23 91v40a170 170 0 0 1-23 80c-12 18-26 34-43 48-7 5-14 11-20 18-14 12-29 24-46 33-16 8-33 14-51 16-3 0-4-1-10-8 2-2 3-6 6-7l31-14c21-10 41-23 58-39 12-16 25-32 39-47 12-15 19-33 23-51v-7l-3-3-9-2c-26-2-52-1-77 3h-24c-11-1-23 0-34 2-6 4-11 10-14 17-19 36-36 73-53 110-5 11-8 23-12 35Zm195-189 3 5c2 1 4 0 5-2l-3-2-6-1-10-8c-23-14-47-25-72-35-10 6-12 16-16 25a8 8 0 0 0 5 10c31 7 62 10 94 8Zm-61-169-12 4-74 47c1 3 0 7 2 9 9 8 19 15 30 20 12-7 14-9 18-17 7-13 15-27 24-39 6-7 10-15 12-24 2-1 3-2 1-2l-1 2ZM177 304c-13-3-27-4-41-3-18 0-36-1-53-5l-30-1a10 10 0 0 0-10 12c2 21 9 41 20 60 4 6 7 12 9 19 24 29 53 54 83 75a75 75 0 0 0 59 4v-6c-7-17-10-35-10-53-1-20-4-40-9-60-3-15-9-29-18-42Zm200-103a20 20 0 0 0 13 13c14 6 28 13 41 22a368 368 0 0 1 47 26h7l2-2c3-12 2-25-1-37-9-40-27-79-53-111-2-2-6-2-9-4-17 26-26 54-40 79l-7 14ZM182 54l4 9c16 18 34 35 53 51a19 19 0 0 0 22 2l3-1 75-51c2-2 2-6 4-10-21-7-44-11-67-11l-53 1c-14 0-28 3-41 10Zm-79 44c-13 8-24 20-32 33-11 18-20 38-26 58-3 12-4 25-2 37 0 2 5 6 7 5l13-4 67-38a15 15 0 0 0 6-15l-1-7-24-59-8-10Zm165 82c-36 15-39 16-52 29 2 18 9 35 19 50 21 3 42 3 63 0 14-11 24-27 31-44a14 14 0 0 0-9-10l-32-18-20-7Zm-109 79c5-13 5-15-7-24-15 5-29 11-42 18l-1 3c12 5 12 5 50 3Zm117 47c-6-8-14-7-21-7-4 0-8 5-8 9 0 10 3 19 8 28l6 2 4-5 11-27Zm-80-156 8-2a8 8 0 0 0 2-14l-14-9a4 4 0 0 0-6 1l-1 3a28 28 0 0 0 11 21Z'/%3E%3C/svg%3E");
}

#crossroad .path [data-skip-path].hideSkip {
	pointer-events: none !important;
	transition: opacity .1s;
	transition-delay: .70s;
	opacity: 0;
}

div#lvl-top {
	z-index: 1;
	position: absolute;
	top: 0;
	padding-top: 2rem;
	text-align: center;
	padding-inline: 3rem;
	color: var(--dark);
}

div#lvl-top:before {
    content: "";
    position: absolute;
    inset: 0 0 -3rem;
    background: radial-gradient(#dbc9a0, transparent 80%);
	z-index: -1;
}

div#lvl-top .level-title {
	font-size: 2rem;
	font-family: 'Arslans Blood';
	word-spacing: 1.5rem;
}

div#lvl-bottom {
	position: absolute;
	bottom: 0rem;
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
}

div#lvl-bottom:before{
	content: "";
	position: absolute;
	inset: -5rem 0 0;
	background: linear-gradient(0deg, black, transparent);
}

div#lvl-bottom .level-title {
	font-size: 2rem;
	font-weight: 700;
}

.lvl-bottom-right {
	display: flex;
	gap: 2rem;
	margin-left: auto;
}

p.level-desc{
	font-size: 1.3rem;
	line-height: 1.2;
}

/*===========================================================================
// ENCOUNTER 
=============================================================================*/
section#encounter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	overflow: hidden;
	background: url("../assets/img/textures/encounter.jpg");
	background-size: cover;
	background-position: center;
	color: var(--dark);
}

.topbar,
.bottombar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	padding: 1rem;
}

section#encounter .right-side {
	display: flex;
	gap: 2rem;
}

.deck-icon.icon {
    width: 3.5rem;
	cursor: pointer;
}

div#mobBoard,
div#playerBoard {
	color: var(--dark);
}

div#mobBoard {
	display: flex;
	flex-direction: column;
	position: relative;
}

.mob-image-wrapper {
    /* filter: drop-shadow(2px 7px 8px #000000aa); */
	mix-blend-mode: darken;
    filter: sepia(1);
}

.mob-image-wrapper:after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 10;
    pointer-events: none;
    background: url("../assets/img/textures/paper1.jpg");
    mix-blend-mode: multiply;
    width: 95%;
    margin-inline: auto;
    background-size: 50rem 95rem;
    background-position: -5rem -5rem;
}

div#mobBoard img {
	width: 95%;
	margin-inline: auto;
	user-select: none;
	-webkit-user-drag: none;
	pointer-events: none
}

p.mobName {
    position: absolute;
    top: -1rem;
    left: 2.3rem;
	font-family: 'Arslans Blood';
	font-size: 1rem;
    width: 30rem;
    word-spacing: 0.5rem;
	color: var(--dark);
}


#playerBoard {
	display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 700;
    color: var(--light);
	position: relative;
    z-index: 0;
}

#playerBoard .actions{
    min-height: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerBoard .main-action,
#playerBoard .secondary-action,
#playerBoard .no-action {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
}

#playerBoard .no-action{
	font-family: 'Arslans Blood';
    word-spacing: 1.3rem;
	font-size: 1.6rem;
	color: var(--dark);
}

div#playerBoard button {
	padding: 1rem 3rem;
	font-weight: 700;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.secondary-action{
	font-size: 1.5rem;
}

div#playerBoard .secondary-action button{
    justify-content: center;
	min-width: 15rem;
	height: 6rem;
}

div#playerBoard button div {
	display: flex;
	align-items: center;
}

#playerBoard .secondary-action .fate {
	width: 1.6rem;
	height: 1.6rem;
	margin-left: 0.3rem;
}

.hp {
	display: flex;
	z-index: 1;
	align-items: center;
	font-size: 0.75rem;
	font-family: 'Rock Salt';
	font-weight: 700;
	position: relative;
}

.hp .heart {
	margin-top: -0.8rem;
	filter: drop-shadow(0.15rem 0.1rem 0.4rem black);
}

.hp .bar {
	display: flex;
	width: 14rem;
	text-align: center;
	border-left: 0.2rem solid #4d4532;
	position: relative;
	margin-left: -0.5rem;
	z-index: -1;
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 2743 287'%3E%3Cpath fill='%23333' d='m27 254 193 4 72-4 222 4 142 4 75-1 37-56 37 55 135-7 242 7 301 2 23 25 16-36 256 7 171-11 208 9 60 6-11-32-23-35 34 10 29 18 36-7 30 23-14-44 56 21 23 38 104 26 109-36 125 10-21-38 21-22-39-31 39-29 15-17 13-33-58 3 34-24-14-5-62-7 59-11-10-15 23-11-177-2-159 2-184-2-134-2-186 1-125 2-236 1-181-8-75-6-16 14-17-8-160 6-126-4-266 4-154 2-27 49-29-52-57-3-237 3-142 3-12 30 22 38-22 28-15 44 10 6h22l22-2-8 8-31 7 12 51v30Z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: 100%;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 2743 287'%3E%3Cpath fill='%2333333366' d='m27 254 193 4 72-4 222 4 142 4 75-1 37-56 37 55 135-7 242 7 301 2 23 25 16-36 256 7 171-11 208 9 60 6-11-32-23-35 34 10 29 18 36-7 30 23-14-44 56 21 23 38 104 26 109-36 125 10-21-38 21-22-39-31 39-29 15-17 13-33-58 3 34-24-14-5-62-7 59-11-10-15 23-11-177-2-159 2-184-2-134-2-186 1-125 2-236 1-181-8-75-6-16 14-17-8-160 6-126-4-266 4-154 2-27 49-29-52-57-3-237 3-142 3-12 30 22 38-22 28-15 44 10 6h22l22-2-8 8-31 7 12 51v30Z'/%3E%3C/svg%3E");
	background-size: 100%;
    background-repeat: no-repeat;
}

.topbar .hp .bar {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 2743 287'%3E%3Cpath fill='%23333' d='m2716 32-193-4-72 4-222-4-142-4-74 1-38 57-37-56-135 7-241-7-301-2-23-24-17 36-256-8-171 12-207-10-60-6 11 33 23 35-34-10-30-18-35 7-30-23 14 44-56-21-24-38L262 7 154 43 28 32l21 39-21 21 39 31-39 30-14 16-14 34 58-3-34 24 14 5 62 7-58 11 9 15-23 11 177 1 159-1 184 1 135 3 186-1 125-2 235-1 181 8 76 6 16-15 16 9 160-7 126 4 266-4 154-1 28-49 29 52 56 2 237-2 142-3 13-30-22-38 22-29 14-44-10-6h-21l-22 3 7-8 32-8-13-51V32Z'/%3E%3C/svg%3E");
	mask-repeat: no-repeat;
    mask-size: 100%;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 2743 287'%3E%3Cpath fill='%2333333366' d='m2716 32-193-4-72 4-222-4-142-4-74 1-38 57-37-56-135 7-241-7-301-2-23-24-17 36-256-8-171 12-207-10-60-6 11 33 23 35-34-10-30-18-35 7-30-23 14 44-56-21-24-38L262 7 154 43 28 32l21 39-21 21 39 31-39 30-14 16-14 34 58-3-34 24 14 5 62 7-58 11 9 15-23 11 177 1 159-1 184 1 135 3 186-1 125-2 235-1 181 8 76 6 16-15 16 9 160-7 126 4 266-4 154-1 28-49 29 52 56 2 237-2 142-3 13-30-22-38 22-29 14-44-10-6h-21l-22 3 7-8 32-8-13-51V32Z'/%3E%3C/svg%3E");
	background-size: 100%;
    background-repeat: no-repeat;
}

.hp .bar .progress {
	width: 100%;
	height: 1.3rem;
	background: var(--dark);
	transition: width .3s;
	position: relative;
}

.hp .bar .progress .damage-bar {
	width: 0%;
	max-width: 100%;
	position: absolute;
	right: 0;
	height: 100%;
	background: #91442c;
	transition: width .15s;
}

.hp .bar .heal-bar {
	background: #056a12;
	position: relative;
	height: 1.3rem;
	transition: width .15s;
}

.hp .bar p {
	z-index: 1;
	color: var(--dark);
	mix-blend-mode: difference;
	filter: invert(1);
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	position: absolute;
	inset: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
}

.hp .shield-wrapper,
.hp .poison-wrapper {
	margin-left: 0.8rem;
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

.hp .shield-wrapper.damaged {
	filter: hue-rotate(10deg) saturate(5) brightness(1);
}

.hp .shield-wrapper.healed {
	filter: hue-rotate(50deg) saturate(12) grayscale(0);
}

.hp .shield-wrapper .icon,
.hp .poison-wrapper .icon {
	width: 1.2rem;
	height: 1.2rem;
	display: inline-flex;
}

.poison.icon {
	margin-bottom: 0.1rem;
}

.heart,
.empty-heart {
	width: 2rem;
	height: 3rem;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
}

.fate-left-wrapper,
.coins-left-wrapper,
.tokens-left-wrapper,
.mana-left-wrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	z-index: 1;
}

.bottombar .fate,
.bottombar .coin,
.bottombar .mana,
.topbar .mana,
.lvl-bottom-right .fate,
.lvl-bottom-right .coin,
.lvl-bottom-right .token,
.reward .coin,
.reward .fate,
#store .coins-left-wrapper .coin{
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: text-bottom;
}

.lvl-bottom-right .token{
	filter: invert(1);
}

.fate-left,
.coins-left,
.tokens-left,
.bottombar .mana-left,
.topbar .mana-left {
	font-size: 2rem;
}

.tokens-left-wrapper {
	cursor: pointer;
}

#crossroad .tokens-to-spend {
	animation: tokensToSpend 1.5s infinite ease-in-out;
}

@keyframes tokensToSpend {
	0%, 100% {
		filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5)) brightness(1.2) sepia(0.5);
	}

	50% {
		filter: drop-shadow(0 0 0.85rem rgba(255, 255, 255, 0.5)) brightness(0.75) sepia(1);
	}
}

.topbar .mana, .bottombar .mana {
	margin-top: -0.4rem;
}

div#discobar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 6.25rem;
	padding: 0 0.3rem;
	gap: 0.5rem;
	flex: 1;
}

div#discobar>span {
	max-width: 4rem;
	text-align: center;
}

#playerDiscs,
#mobDiscs {
	gap: 0.5rem 0.3rem;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
	align-items: flex-end;
    height: 80%;
}

#mobDiscs {
	pointer-events: none;
}

#discobar .slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 1 / 1;
    max-width: 7.5rem;
    min-width: 0;
    transition: filter .3s, scale .3s;
	flex: 1;
	pointer-events: none;
}

#encounter:has(.slot.hover) .cardOnDrag .inventory-card{
	--glow-color: #42188a;
	box-shadow: var(--glow-color) 0 0 0.5rem;
	animation: glow 1s infinite alternate;
}
@keyframes glow {
	100% {
		box-shadow: var(--glow-color) 0 0 1.5rem;
	}
}
#encounter:has(.slot.hover) .cardOnDrag:before{
	content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
	background-color: #42188a;
    mix-blend-mode: color-dodge;
}

#discobar .slot.successful>.disc>.disc {
	outline: 0.2rem solid #adadad;
}

#discobar .slot.unsuccessful>.disc {
	filter: blur(2px) brightness(0.7);
}

.disc.requires-mana .disc {
	filter: contrast(0.5) saturate(0.5) brightness(0.7);
}

.disc.requires-mana:after {
	background-color: #5f2f2f;
	color: #351919;
}

#discobar .slot::after {
	content: "";
	position: absolute;
	border-radius: 100%;
	width: 30%;
	aspect-ratio: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


#discobar .slot .mana-requirement {
	font-size: 1rem;
	line-height: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	filter: brightness(0);
}

#discobar .slot .mana-requirement .icon {
	width: 0.8rem;
	aspect-ratio: 1;
	margin: 0rem 0 -0.1rem 0;
	display: inline-flex;
}

.disc {
	position: relative;
	aspect-ratio: 1 / 1;
	display: flex;
	border-radius: 100%;
	max-width: 7.5rem;
	flex: 1;
	z-index: 0;
}

.disc svg {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: var(--dark);
}

.disc svg path {
	stroke: var(--dark);
	stroke-width: 1;
}

.arrow {
	top: 50%;
	left: 50%;
	width: 1.25rem;
	height: 45%;
	position: absolute;
	transform: translate(-50%, -100%) rotate(0deg);
	transform-origin: bottom;
	transition: 1.5s transform;
	mix-blend-mode: difference;
	filter: invert(1) contrast(0.5);
}

.disc:after {
	content: "";
	position: absolute;
	background: black;
	border-radius: 100%;
	width: 30%;
	aspect-ratio: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	outline: 0.2rem solid;
}

.slot .card{
	width: 80%;
    position: absolute;
    top: -60%;
	pointer-events: all;
    cursor: pointer;
}

.slot .card:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 2rem;
	bottom: -2rem;
}

.inventory {
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	inset: 0;
	z-index: 11;
	display: none;
}

.inventory-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 1.5rem 1rem;
	z-index: 10;
	padding: 5rem 0.4rem 20%;
	width: 100%;
	height: 100%;
	min-height: 20rem;
	margin-inline: auto;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.inventory-cards::-webkit-scrollbar {
	display: none;
	width: 0px;
}

.inventory-cards:after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(0deg, black 0%, transparent 20%);
	pointer-events: none;
	z-index: 1;
}

.inventory-item {
	width: calc(50% - 0.5rem);
}

.card{
	aspect-ratio: 2 / 3;
	container-type: inline-size;
	transition: scale .2s;
}

#playerDiscs > .card{
	width: 6.667rem;
}

.inventory-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 6%;
	width: 100%;
	aspect-ratio: 2 / 3;
	color: var(--light);
	border-radius: 3cqw;
	background-size: contain;
	position: relative;
	background-repeat: no-repeat;
	background-color: #222423;
}

.inventory-card:after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 10;
	pointer-events: none;
	background: url("../assets/img/textures/paper1.jpg");
	mix-blend-mode: multiply;
	border-radius: 4cqw;
}

.inventory-card > * {
    z-index: 1;
}

.inventory-card .disc-indicator {
    aspect-ratio: 1;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    top: 1.1%;
    right: 1.7%;
    width: 11.5%;
	background: #222423;
}

img.card-background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    max-width: unset;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 3cqw;
    opacity: 0.3;
    mix-blend-mode: lighten;
    filter: grayscale(1) invert(1) blur(1px) brightness(0.55);
	pointer-events: none;
}

.card-mana-cost {
	position: absolute;
    top: 1.1%;
    left: 1.7%;
    width: 11.5%;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	border-radius: 100%;
	overflow: hidden;
	font-size: 7cqw;
	line-height: 0;
	font-weight: 700;
	z-index: 1;
	background: var(--light);
    color: var(--dark);
}

.card-mana-cost.too-expensive {
	background: #c9473f9e;
	color: #000;
}

.card-inventory-title {
	font-size: 6.3cqw;
	font-weight: 700;
	padding-block: 5.7% 4%;
}

.card-inventory-icon {
	position: relative;
	width: 100%;
	aspect-ratio: 1;
    border-radius: 2.5cqw;
    overflow: hidden;
	pointer-events: none;
}

.card-inventory-desc {
    margin-block: 4% 7%;
    text-align: center;
    line-height: 1.4;
    font-size: 6.3cqw;
    flex: 1;
    display: flex;
    align-items: center;
	text-wrap: balance;
	color: white;
	font-weight: 100;
}

.card-inventory-desc .icon:not(.banish){
	width: 7cqw;
    aspect-ratio: 1;
    display: inline-flex;
	vertical-align: middle;
	filter: brightness(100);
}

.banish:after {
	content: "Banish —";
	color: #8b2500;
	font-weight: 600;
    text-shadow: 0 0 3cqw black;
    filter: drop-shadow(0 0 3cqw black);
}

.card.cardOnDrag{
	width: 6.667rem;
	scale: 1;
	translate: 0 0;
	z-index: 12;
	padding: 0;
}

.card.cardOnDragStart{
	scale: 3;
	translate: 0 -10rem !important;
	z-index: 2;
	padding: 0;
}

.inventory-controls {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2rem 1rem 0;
	box-shadow: 0 0rem 3.5rem 4rem black;
	z-index: 11;
}

button.close-inventory {
    font-size: 2rem;
    width: 4.5rem;
    height: 4rem;
	margin-left: auto;
}


.inventory-card:before{
	content: "";
    position: absolute;
    inset: 0;
	opacity: 1;
	z-index: 0;
	border-radius: 3cqw;
	--damage: #75000033;
	--heal: #00a1af33;
	--shield: #ffffff33;
	--poison: #00590033;
	--fate: #64006433;
	--mana: #00000099;
}
.inventory-card[data-type="damage"]:before{
    background: var(--damage);
}
.inventory-card[data-type="heal"]:before{
    background: var(--heal);
}
.inventory-card[data-type="poison"]:before{
    background: var(--poison);
}
.inventory-card[data-type="shield"]:before{
    background: var(--shield);
}
.inventory-card[data-type="fate"]:before{
    background: var(--fate);
}
.inventory-card[data-type="mana"]:before{
    background: var(--mana);
}
.inventory-card[data-type="damage-shield"]:before{
    background: linear-gradient(180deg, var(--damage), var(--shield));
}
.inventory-card[data-type="damage-heal"]:before{
    background: linear-gradient(180deg, var(--damage), var(--heal));
}
.inventory-card[data-type="damage-mana"]:before{
    background: linear-gradient(180deg, var(--damage), var(--mana));
}




/*===========================================================================
// XP SCREEN 
=============================================================================*/
section#xpscreen .modal-content{
	display: flex;
	flex-direction: column;
	gap: 6rem;
	font-size: 2rem;
}

section#xpscreen .bar {
	border: 0.1rem solid var(--light);
	display: flex;
	align-items: stretch;
	position: relative;
}

section#xpscreen .bar .progress {
	display: block;
	background: var(--light);
	height: 4rem;
	transition: 1s;
}

section#xpscreen .bar p {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
}

section#xpscreen button {
    padding: 1rem 4rem;
    font-weight: 700;
    border-radius: 0.3rem;
    margin-inline: auto;
}

.reward {
	display: flex;
	align-items: center;
	gap: 3rem 4rem;
	flex-wrap: wrap;
	justify-content: space-around;
	min-height: 9rem;
}

.reward p {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

/*===========================================================================
// STORE 
=============================================================================*/
#store {
    flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	z-index: 2;
	background: url("../assets/img/textures/encounter.jpg");
	background-size: cover;
	background-position: center;
}

#store .store-title{
    font-family: 'Arslans Blood';
    color: var(--dark);
    font-size: 2rem;
    position: absolute;
    left: 0rem;
    top: 7.5rem;
    transform: rotate(-12deg);
}

#store .shopkeeper {
    aspect-ratio: 1;
    margin: 5% auto;
	width: 95%;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
	mix-blend-mode: darken;
    filter: sepia(1);
}

#store .shopkeeper{
	background-image: url("../assets/img/shopkeepers/1.png");
	background-image: var(--shopkeeper);
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
}

.store-wrapper {
	z-index: 10;
	display: flex;
	gap: 1.5rem;
	padding: 0rem 1.5rem;
	height: auto;
	width: 100%;
}

.store-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	text-align: center;
	padding-bottom: 5rem;
	flex: 1;
}

.store-item-card{
	width: 100%;
	box-shadow: 0 0.75rem 1.5rem -0.2rem #000000cc;
	cursor: pointer;
	border-radius: 0.8rem;
}

.store-item-card.big-card{
	position: absolute;
    z-index: 4;
    inset: 0;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 5rem;
    background: #000000ed;
    border-radius: 0;
}

.store-item-card.big-card .card{
	width: 100%;
}

.store-item-card button{
	display: none !important;
}
.store-item-card.big-card button{
    display: flex !important;
    width: 4rem;
    aspect-ratio: 1;
    margin: 0 0.5rem 2rem auto;
	padding: 0;
}

.store-item button {
	padding: 1rem 2rem;
	text-align: center;
	font-size: 1.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	line-height: 0;
	justify-content: center;
	gap: 0.6rem;
}

.store-item button s {
    opacity: 0.5;
	font-weight: 100;
}

.store-item button[disabled] {
	opacity: 0.5;
}

.store-item button .coin {
	width: 1.5rem;
	height: 1.5rem;
}

button.close-store {
    width: 4rem;
    height: 3.7rem;
    margin: 1.5rem 1.5rem 0 0;
}

#store .coins-left-wrapper{
	margin-right: 1.5rem;
	color: var(--dark);
}


/*===========================================================================
// SKILL TREE
=============================================================================*/
section#skilltree {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url("../assets/img/textures/encounter.jpg");
	background-size: cover;
}

.close-skilltree {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skilltree-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	transform: rotate(45deg);
	gap: 1rem;
}

.skilltree-wrapper:before {
	content: "";
	position: absolute;
	background-color: #00000000;
	z-index: -1;
	width: 0.1rem;
	transform: translate(-50%, -50%) rotate(-45deg);
	height: 100%;
	left: 50%;
	top: 50%;
}

.skilltree-wrapper .skill {
	aspect-ratio: 1;
	width: 6.2rem;
	cursor: pointer;
	position: relative;
}

.skilltree-wrapper .skill[data-skillstate="0"] {
	opacity: 0.15;
}

.skilltree-wrapper .skill[data-skillstate="1"]:after {
    transition: .7s;
	animation: skillbeat 2s infinite ;
}

@keyframes skillbeat {
	0%, 100%{
		filter: drop-shadow(0rem 0rem 0rem #550000);
	}
	50%{
		filter: drop-shadow(0rem 0rem 0.2rem #550000);
	}
}

.skilltree-wrapper .skill:before{
	filter: invert(1) brightness(0.5) opacity(0.5) sepia(1);
}

.skilltree-wrapper .skill[data-skillstate="2"]:before{
	filter: invert(0);
	z-index: 1;
}

.skill.skillslot.skillstart{
	pointer-events: none;
	opacity: 0.6;
}

#skilltree .tokens-left-wrapper {
	position: absolute;
	bottom: 1.2rem;
	right: 2rem;
	cursor: default;
}

#skilltree .tokens-left-wrapper .tokens-left {
	font-size: 3.2rem;
	color: var(--dark);
}

#skilltree .tokens-left-wrapper .token {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	vertical-align: text-bottom;
}

.skill-modal {
	display: none;
}

.skill-modal .modal-content{
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	gap: 3rem;
}

button.skill-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 2.8rem;
	filter: invert(1) saturate(2) hue-rotate(200deg) brightness(0.8);
}

button.skill-modal-buy {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	margin-inline: auto;
	padding: 0.4rem 2rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1437 589'%3E%3Cpath fill='%23dbc9a0' d='m1423 565-102 8-37-8-117 8-74 10-78-5-71-16-127 16-158 5-16-21-20 27-119-16h-90l-108-5-117 5h-88l-88-9 7-67-7-69 7-67-7-70-8-38-4-113 23 5-13-16 2-17 20-13-18-18 2-30-4-34 93-3 83 3 97-3 70-5 98 2 65 5 124 2 104-9 28-9 11 18 8-18 84 15 66-10 140 10 81 3 59-12 124 5 75 7 6 69-11 85 11 66 8 100-5 13h-12l-11-6 4 19 16 17-6 115v69Z'/%3E%3C/svg%3E");
	color: #222;

}

p.skill-modal-desc {
	text-align: center;
	text-wrap: balance;
}

.skill-modal .icon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin: -0.1rem 0 0 0.4rem;
}

/*===========================================================================
// DEATH
=============================================================================*/
section#death {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	justify-content: space-evenly;
    text-align: center;
    height: 100%;
    overflow: hidden;
	position: absolute;
    inset: 0;
    background-color: #000;
	z-index: 10;
}

section#death p:first-child {
	font-size: 3rem;
}

section#death p:nth-child(2) {
	font-size: 1.2rem;
}

section#death button{
	font-size: 2rem;
	background-color: #ffffff0d;
	padding-block: 1rem;
	padding: 1rem 3rem;
    margin-inline: auto;
}

/*===========================================================================
// HAND OF CARDS
=============================================================================*/
.hand {
	display: flex;
	justify-content: center;
	align-items: flex-end;
    width: 100%;
    min-height: 11rem;
	z-index: 11;
}

.hand .card{
	width: 6.667rem;
	cursor: pointer;
	cursor: grab;
}

.hand .card.neodrag-dragging{
	transition: scale 0s;
	cursor: grabbing;
}

.hand .card:not(.neodrag-dragging, .card.cardOnDragStart){
	transition: scale 0s, transform .1s;
}

/*===========================================================================
// CARD HORIZONTAL SCROLLER
=============================================================================*/
.card-scroller{
	background-color: #000000f2;
	backdrop-filter: none;
}
.card-scroller .modal-content{
	background: none;
	display: grid;
    text-align: center;
    gap: 5rem;
	width: 100%;
    padding: 0;
	filter: none;
}

.card-scroller .modal-content .text > p{
    font-size: 1.4rem;
    max-width: 70%;
    margin-inline: auto;
}

.card-scroller .modal-content .btn{
	font-size: 1.4rem;
    margin-inline: auto;
    padding: 1rem 4rem;
}

.card-list-wrapper {
    display: grid;
	position: relative;
}

.card-scroller .modal-content .card-list{
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	padding-inline: 2rem;
	position: relative;
	-ms-overflow-style: none;
    scrollbar-width: none;
	cursor: grab;
}
.card-scroller .modal-content .card-list::-webkit-scrollbar{
	display: none;
}

.card-scroller:after,
.card-scroller:before {
	content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2rem;
	pointer-events: none;
}
.card-scroller:after{
	right: 0;
	background: linear-gradient(90deg, transparent, black);
}
.card-scroller:before{
	left: 0;
	z-index: 1;
	background: linear-gradient(270deg, transparent, black);
}

.card-scroller .modal-content .card-list > *{
	width: 12rem;
	flex: 0 0 auto;
	transition: filter .2s, scale .2s;
}

.card-scroller .modal-content .card-list .card.selectedToBeRemoved {
	filter: grayscale(1) brightness(0.5) contrast(1.2);
	scale: 0.8;
}

/*===========================================================================
// PAGE TURN ANIMATION
=============================================================================*/
.book{
	display: none;
	z-index: 20;
}

.book,
.book > *{
	position: absolute;
	inset: 0;
}

.book > *{
	transform-origin: left center;
    transform: translateZ(0rem);
    rotate: 0 1 0 0deg;
}

.book .turn-page{
	transform: translateZ(1rem);
    rotate: 0 1 0 -180deg;
}

.book .cover{
	background-color: transparent;
	transition: .9s ease-in;
	z-index: 30;
}
.book.booking .cover{
	background-color: #000;
	transition: .35s;
}

.book .page{
	background: url("../assets/img/textures/encounter.jpg");
	background-size: cover;
	opacity: 0;
	transition: opacity 0s, rotate 1.5s .3s, transform 1.5s .3s;
}

.book .page:nth-child(3){
	transition: opacity 0s, rotate 1.5s .28s, transform 1.5s .28s;
}
.book .page:nth-child(4){
	transition: opacity 0s, rotate 1.5s .225s, transform 1.5s .225s;
}
.book .page:nth-child(5){
	transition: opacity 0s, rotate 1.5s .175s, transform 1.5s .175s;
}
.book .page:nth-child(6){
	transition: opacity 0s, rotate 1.5s .1s, transform 1.5s .1s;
}
.book .page:nth-child(7){
	transition: opacity 0s, rotate 1.5s 0s, transform 1.5s 0s;
}

.book .page::after{
	content: "";
	position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #00000091, transparent);
}

.book.booked .page{
	opacity: 1;
}

/*===========================================================================
// ANIMATIONs
=============================================================================*/
.pulse {
	animation: pulse 1s infinite;
}

.pulse[data-heartrate="1"] {
	animation: pulse .65s infinite;
}

.pulse[data-heartrate="2"] {
	animation: pulse .5s infinite;
}

.pulse[data-heartrate="3"] {
	animation: pulse .35s infinite;
}

.pulse[data-heartrate="4"] {
	animation: pulse .2s infinite;
}


@keyframes pulse {
	10% {
		transform: scale(1.1)
	}
}

/*===========================================================================
// PARTICLE ANIMATION
=============================================================================*/
.particles {
	position: relative;
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
}

.particles-canvas {
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.particles-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
	will-change: transform;
	width: 100%;
}